
TestBusinessApp/Data/

\.vs/TestBusinessApp/v15/\.suo

*.ide

*.pdb

*.cache

*.exe

*.ide-shm

*.ide-wal

\.vs/TestBusinessApp/v15/

TestBusinessApp/bin/Debug/

TestBusinessApp/obj/Debug/
